<h1>Guestbook entries</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Guestbook entry</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New guestbook entry', new_article_path %>
