<h1>Edit Your Own Request</h1>

<%= form_for(@request) do |f| %>

  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@request.errors.count, "error") %> prohibited
        this request from being saved:
      </h2>
      <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, 'Name*:' %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, 'Email address*:' %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :startdate, 'From (DD-MM-YYYY)*:' %><br>
    <%= f.date_field :startdate %>
  </p>
  <p>
    <%= f.label :enddate, 'Until*:' %><br>
    <%= f.date_field :enddate %>
  </p>
  <p>
    <%= f.label :noofguests, 'Number of guests*:' %><br>
    <%= f.text_field :noofguests %>
  </p>
  <p>
    <%= f.label :children, 'Are you traveling with children?*' %><br>
    <%= f.label :children, "Yes", :value => "true"  %>
    <%= f.radio_button :children, true %>
    <%= f.label :children, "No", :value => "false" %>
    <%= f.radio_button :children, false %>
    <!--if one option should already be checked, add: ', :checked => true' -->
  </p>
  <p>
    <%= f.label :children, 'If so, how many children are you travelig with and how old are they?' %><br>
    <%= f.text_field :childreninfo %>
  </p>
  <p>
    <%= f.label :comment, 'Comments:' %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, [['Waiting for Approval','Waiting for Approval'],['Approved','Approved'],['Rejected','Rejected'],['Cancelled','Cancelled']] %>
  </p>

  <p>
    <br><%= f.submit %>
  </p>

<% end %>

<a href="/requests/">Back to overview</a>
