<%= form_for :request, url: requests_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :startdate %><br>
    <%= f.date_field :startdate %>
  </p>
  <p>
    <%= f.label :enddate %><br>
    <%= f.date_field :enddate %>
  </p>
  <p>
    <%= f.label :noofguests %><br>
    <%= f.text_field :noofguests %>
  </p>
  <p>
    <%= f.label :children %><br>
    <%= f.check_box :children %>


  </p>
  <p>
    <%= f.label :childreninfo %><br>
    <%= f.text_field :childreninfo %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
