<head>
  <title>Limco Guest Apartment</title>
</head>
<header>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li><img id="logo" src="/images/logos/StMaarten-logo.jpg" height="30px"></li>
      <li><a href="/pages/welcome">Welcome</a></li>
      <li><a href="/pages/photos">Photos</a></li>
      <li><a href="/pages/plan">Plan your visit</a></li>
      <li><a href="/pages/guestbook">Guestbook</a></li>
    </ul>
  </div>
</header>
<div class="page-header container">
  <h1>Plan your visit</h1>
</div>
  <h3>New Request</h3>
  <p>Fill in your information in the form below to send us a request.</p>
  <div id="calendar">
    <p><iframe src="https://calendar.google.com/calendar/embed?src=sailjefp4br9nqp6cnmv5dfgu0%40group.calendar.google.com&ctz=America/Curacao" style="border: 0" width="600" height="400" frameborder="0" scrolling="no"></iframe></p>
    <p>Fill in your information below to send us a request</p>
  </div>
  <div>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@request.errors.count, "error") %> prohibited
        this request from being saved:
      </h2>
      <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form_for :request, url: requests_path do |f| %>
      <p>
        <%= f.label :name, 'Name*:' %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email, 'Email address*:' %><br>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :startdate, 'From*:' %><br>
        <%= f.date_field :startdate %>
      </p>
      <p>
        <%= f.label :enddate, 'Until*:' %><br>
        <%= f.date_field :enddate %>
      </p>
      <p>
        <%= f.label :noofguests, 'Number of guests*:' %><br>
        <%= f.text_field :noofguests %>
      </p>
      <p>
        <%= f.label :children, 'Are you traveling with children?*' %><br>
        <%= f.label :children, "Yes", :value => "true"  %>
        <%= f.radio_button :children, true %>
        <%= f.label :children, "No", :value => "false" %>
        <%= f.radio_button :children, false%>
        <!--if one option should already be checked, add: ', :checked => true' -->
      </p>
      <p>
        <%= f.label :children, 'If so, how many children are you travelig with and how old are they?' %><br>
        <%= f.text_field :childreninfo %>
      </p>
      <p>
        <%= f.label :comment, 'Comments:' %><br>
        <%= f.text_area :comment %>
      </p>
      <p>
        <%= hidden_field(:request, :approval_status, :value => 'Waiting for Approval') %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
  <a href="/pages/plan">Cancel</a></li>
